$bg: rgb(241, 241, 241);
$bg-panel: #26313E;
$bg-disabled: #45515B;
$green: #34AE88;
$green-hover: #2D9A78;
$green-accent: #3BA28A;
$grey: #7C8188;
$font-default: rgb(170, 180, 178);
$font-light: #F1FFFF;